<body>
  <nav class="nav_tabs">
    <ul>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="tab1">
        <label for="tab1">CADASTRO</label>
        <div class="content">
          <app-cadastro></app-cadastro>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="tab2">
        <label for="tab2">COMPRAS</label>
        <div class="content">
          <app-compras></app-compras>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="tab3">
        <label for="tab3">VENDAS</label>
        <div class="content">
          <app-vendas></app-vendas>
        </div>
      </li>
    </ul>
  </nav>
</body>
